@tailwind base;
@tailwind components;
@tailwind utilities;

.spin-anim {
    animation: spin 1s infinite linear;
}

*:has(meta[data-modified="true"]) {
    outline: 2px solid red;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}